.ProductList {
  display: flex;
  scroll-behavior: auto;
  flex-direction: column;
  overflow-x: auto;
  padding-left: 20px;
  text-transform: capitalize;
}
.ProductContainer {
  display: flex;
  margin-left: -10px;
}
.ProductList:last-child {
  padding-bottom: 20px;
}
